#Configuration file for Grizzly bear mod
#Fri Dec 03 09:44:25 PST 2021
spawn.max=3
debug=false
entity.speed=0.30
spawn.min=1
entity.health=30.0
entity.angertimemax=39
entity.follow=20.0
config.version=1
spawn.biomes=TAIGA
spawn.weight=30
entity.friendly=false
entity.angertimemin=20
entity.damage=9.0
