.curseclient
.fabric
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
.mixin.out/class/net/minecraft/class_2535$1.class
.mixin.out/class/net/minecraft/class_3242$1.class
.mixin.out/class/net/minecraft/class_636.class
.persistent/multibeds/embroidery.dat
.persistent/multibeds/projects.dat
.vscode/probe.code-snippets
*.dat_old
*.fmdata
*.jar
*.jar
*.psd
*.swp
*.xwmc
/AQM2
backups/2022-04-29_23-19-44_New World (1).zip
bg/load-wave-purple.png
chesttracker/*
config - copy/*
config/byg/backups/backup_2022-05-16_12.43.16.zip
config/byg/backups/last_working_configs_backup.zip
config/chisel
config/iris.properties
config/iris.properties
config/polymer/client.json
craftpresence
crash-reports
deaths.dat
debug
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
generated/fabric_loader_dependencies.json
ghost.png
hs_err_pid34680.log
irisUpdateInfo.json
itemscroller/*
kubejs - copy/*
kubejs/assets
kubejs/exported
kubejs/jsconfig.json
kubejs/probe/generated/constants.d.ts
kubejs/probe/generated/events.d.ts
kubejs/probe/generated/events.documented.d.ts
kubejs/probe/generated/globals.d.ts
kubejs/probe/generated/java.d.ts
kubejs/probe/generated/registries.d.ts
logs
materials-to-use.yaml
mcdw-configs-backup/attack_speed_config.json5
mcdw-configs-backup/config.json
mcdw-configs-backup/damage_config.json5
mcdw-configs-backup/draw_speed_config.json5
mcdw-configs-backup/enchants_config.json5
mcdw-configs-backup/loot_config.json5
mcdw-configs-backup/materials_config.json5
mcdw-configs-backup/range_config.json5
mods
mods.rar
not-enough-crashes
options.amecsapi.txt
options.amecsapi.txt
options.amecsapi.txt
options.amecsapi.txt
options.amecsapi.txt
options.justenoughkeys.txt
options.txt
paintings/*
panda.png
patched_shaders
patchouli_data.json
polymer-resourcepack.zip
profileImage/pack.png
realms_persistence.json
resourcepacks/Copper Legacy Pack.zip
santa.png
saves
screenshots
servers.dat
shaderpacks.zip
shaderpacks/*
/spectrum
spoornpacks
spoornpacks/*
TrashSlotSaveState.json
usercache.json
usernamecache.json
XaeroWaypoints*
XaeroWorldMap
config/eldritch_mobs.json5.old
fancymenu_data/last_world.fmdata
rhino.local.properties
options.amecsapi.txt
options.amecsapi.txt
.vscode/schema.json
.vscode/settings.json
/config-bk - Copy
/ModTranslations