kubejs/assets
kubejs/exported
*.jar
spoornpacks
spoornpacks/*
*.xwmc
usernamecache.json
materials-to-use.yaml
*.jar
.fabric
chesttracker/*
config/chisel
mods.rar
craftpresence
XaeroWaypoints*
XaeroWorldMap
patched_shaders
saves
spectrum
screenshots
*.dat_old
logs
*.swp
usercache.json
TrashSlotSaveState.json
santa.png
realms_persistence.json
profileImage/pack.png
panda.png
paintings/*
not-enough-crashes
mods
patchouli_data.json
polymer-resourcepack.zip
options.txt
options.justenoughkeys.txt
minecraftinstance.json
debug
crash-reports
deaths.dat
generated/fabric_loader_dependencies.json
ghost.png
itemscroller/*
bg/load-wave-purple.png
servers.dat
kubejs - copy/*
config - copy/*
AQM2/*
.curseclient
shaderpacks/*
AQM2/
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
.github/ISSUE_TEMPLATE/bug_report.md
mcdw-configs-backup/attack_speed_config.json5
mcdw-configs-backup/config.json
mcdw-configs-backup/damage_config.json5
mcdw-configs-backup/draw_speed_config.json5
mcdw-configs-backup/enchants_config.json5
mcdw-configs-backup/loot_config.json5
mcdw-configs-backup/materials_config.json5
mcdw-configs-backup/range_config.json5
*.psd
.persistent/multibeds/embroidery.dat
.persistent/multibeds/projects.dat
backups/2022-04-29_23-19-44_New World (1).zip
options.amecsapi.txt
kubejs/probe/generated/constants.d.ts
kubejs/jsconfig.json
kubejs/probe/generated/events.d.ts
kubejs/probe/generated/events.documented.d.ts
kubejs/probe/generated/globals.d.ts
kubejs/probe/generated/java.d.ts
kubejs/probe/generated/registries.d.ts
options.amecsapi.txt
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
config/iris.properties
config/iris.properties
fancymenu_data/last_world.fmdata
shaderpacks.zip
config/byg/backups/backup_2022-05-16_12.43.16.zip
config/byg/backups/last_working_configs_backup.zip
resourcepacks/Copper Legacy Pack.zip
options.amecsapi.txt
.mixin.out/class/net/minecraft/class_636.class
.mixin.out/class/net/minecraft/class_3242$1.class
.vscode/probe.code-snippets
fancymenu_data/last_world.fmdata
hs_err_pid34680.log
config/polymer/client.json
*.fmdata
options.amecsapi.txt
options.amecsapi.txt
.mixin.out/class/net/minecraft/class_2535$1.class
irisUpdateInfo.json
fancymenu_data/last_world.fmdata
fancymenu_data/last_world.fmdata
