.curseclient
.fabric
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
.mixin.out/class/net/minecraft/class_2535$1.class
.mixin.out/class/net/minecraft/class_3242$1.class
.mixin.out/class/net/minecraft/class_636.class
.persistent/multibeds/embroidery.dat
.persistent/multibeds/projects.dat
.vscode/probe.code-snippets
*.dat_old
*.fmdata
*.jar
*.jar
*.psd
*.swp
*.xwmc
/AQM2
backups/2022-04-29_23-19-44_New World (1).zip
bg/load-wave-purple.png
chesttracker/*
config - copy/*
config/byg/backups
config/chisel
config/iris.properties
config/polymer/client.json
craftpresence
crash-reports
kubejs - 1.18.2
deaths.dat
debug
fancymenu_data/last_world.fmdata
generated/fabric_loader_dependencies.json
ghost.png
replay_*
hs_err_pid*
hs_err_pid34680.log
irisUpdateInfo.json
itemscroller
kubejs - copy/*
old_config_ignore
kubejs/exported
kubejs/jsconfig.json
kubejs/probe
kubejs/foods.txt
logs
materials-to-use.yaml
mcdw-configs-backup/
mods
config - 1.18.2
config - 1.19.2
mods.rar
not-enough-crashes
options.amecsapi.txt
options.justenoughkeys.txt
options.txt
paintings/*
panda.png
patched_shaders
patchouli_data.json
polymer-resourcepack.zip
profileImage/pack.png
realms_persistence.json
resourcepacks/Copper Legacy Pack.zip
santa.png
saves
screenshots
servers.dat
shaderpacks.zip
shaderpacks/*
/spectrum
spoornpacks
spoornpacks/*
TrashSlotSaveState.json
usercache.json
usernamecache.json
XaeroWaypoints*
XaeroWorldMap
config/eldritch_mobs.json5.old
rhino.local.properties
.vscode/schema.json
.vscode/settings.json
/config-bk - Copy
/ModTranslations
kubejs/.vscode/probe.code-snippets
kubejs/.vscode/probe.code-snippets
.github/FUNDING.yml
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/feature_request.md
backups/2022-04-30_09-27-40_test.zip
o_prof
old_options.txt
resourcepacks/Basic Nether Ores 16x.zip
spell_engine_tutorial.json
local/
kubejs/exported
everbook/
emojiful/
fancymenu_instance_data/
data/
Create_Backup_Datapacks/
fancymenu_data/
/ModTranslations
/automation/secrets.ps1
/*.zip
/overrides
server_files/serverstarter.log
.vscode/probe.registry-definitions.json
.vscode/probe.lang-schema.json
.vscode/probe.lang_key-definitions.json
.vscode/probe.doc-schema.json
.vscode/probe.class-definitions.json
